In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')
data

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,193080,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,€60K,€1K,Right,...,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0,€143K
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,€60K,€1K,Right,...,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0,€113K
18204,241638,B. Worman,16,England,47,67,Cambridge United,€60K,€1K,Right,...,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0,€165K
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,€60K,€1K,Right,...,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0,€143K
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,€60K,€1K,Right,...,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0,€165K

In [3]:
data.columns

Index(['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club',
       'Value', 'Wage', 'Preferred Foot', 'International Reputation',
       'Weak Foot', 'Skill Moves', 'Work Rate', 'Body Type', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Release Clause'],
      dtype='object')

In [10]:
data.shape

(18207, 46)

In [4]:
# Dropping Irrelevant Attributes

data.drop(['Wage', 'International Reputation', 'Weak Foot', 'Skill Moves', 'Work Rate', 'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until', 'Release Clause', 'Body Type',], axis=1, inplace=True)

In [39]:
import numpy as np
columns = list(data.isnull().sum().index)

temp=np.array((data.isnull().sum()))
graph = pd.DataFrame([columns,temp])
graph = graph.T
graph.to_csv('GraphData.csv', index=False)

In [27]:
plot = data.isnull().sum().to_frame()
missing_value_counts = data.isnull().sum()

# Create a new Series to store the missing value counts along with attribute names
all_attributes = [data.columns]  # Add all 46 attribute names here
missing_value_counts_with_attributes = pd.Series(missing_value_counts.values, index=all_attributes, name='Missing_Counts')
missing_value_counts_with_attributes

ID                   0
Name                 0
Age                  0
Nationality          0
Overall              0
Potential            0
Club               241
Value                0
Preferred Foot      48
Position            60
Height              48
Weight              48
Crossing            48
Finishing           48
HeadingAccuracy     48
ShortPassing        48
Volleys             48
Dribbling           48
Curve               48
FKAccuracy          48
LongPassing         48
BallControl         48
Acceleration        48
SprintSpeed         48
Agility             48
Reactions           48
Balance             48
ShotPower           48
Jumping             48
Stamina             48
Strength            48
LongShots           48
Aggression          48
Interceptions       48
Positioning         48
Vision              48
Penalties           48
Composure           48
Marking             48
StandingTackle      48
SlidingTackle       48
GKDiving            48
GKHandling          48
GKKicking           48
GKPositioning       48
GKReflexes          48
Name: Missing_Counts, dtype: int64

In [15]:
from sklearn.preprocessing import StandardScaler
from matplotlib import pyplot as plt
import seaborn as sns

# scaler = StandardScaler()
# normalized_data = scaler.fit_transform(data.isnull())

plt.figure(figsize=(10, 8))
sns.heatmap(data[data['Club'].isnull()], cbar=False, cmap='viridis')
plt.title('Missing')
plt.show()

ValueError: could not convert string to float: 'L. Paredes'

In [9]:
data[data['Club'].isnull()]

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Preferred Foot,Position,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
452,207439,L. Paredes,24,Argentina,80,85,NaN,€0,Right,CM,...,57.0,74.0,73.0,75.0,72.0,9.0,14.0,6.0,9.0,10.0
538,156713,A. Granqvist,33,Sweden,80,80,NaN,€0,Right,LCB,...,79.0,78.0,82.0,83.0,79.0,7.0,9.0,12.0,10.0,15.0
568,229909,A. Lunev,26,Russia,79,81,NaN,€0,Right,GK,...,15.0,69.0,18.0,20.0,12.0,80.0,73.0,65.0,77.0,85.0
677,187347,I. Smolnikov,29,Russia,79,79,NaN,€0,Right,RB,...,41.0,73.0,76.0,76.0,80.0,7.0,12.0,10.0,8.0,15.0
874,187607,A. Dzyuba,29,Russia,78,78,NaN,€0,Right,ST,...,77.0,70.0,21.0,15.0,19.0,15.0,12.0,11.0,11.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17197,245164,V. Kaith,21,India,55,64,NaN,€0,Right,GK,...,13.0,29.0,8.0,12.0,11.0,55.0,50.0,57.0,59.0,53.0
17215,243131,K. Taimi,26,Finland,55,57,NaN,€0,Right,RB,...,33.0,36.0,51.0,58.0,64.0,11.0,9.0,9.0,12.0,12.0
17339,233526,S. Passi,23,India,54,63,NaN,€0,Right,NaN,...,58.0,45.0,14.0,23.0,21.0,8.0,6.0,13.0,9.0,10.0
17436,236452,D. Lalhlimpuia,20,India,54,67,NaN,€0,Right,NaN,...,55.0,46.0,26.0,17.0,13.0,7.0,8.0,12.0,11.0,11.0
17539,234508,C. Singh,21,India,53,62,NaN,€0,Right,NaN,...,38.0,41.0,56.0,49.0,53.0,12.0,9.0,6.0,14.0,8.0

In [17]:
data[data['Height'].isnull()]

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Preferred Foot,Position,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
13236,177971,J. McNulty,33,Scotland,62,62,Rochdale,€120K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13237,195380,J. Barrera,29,Nicaragua,62,62,Boyacá Chicó FC,€300K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13238,139317,J. Stead,35,England,62,62,Notts County,€140K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13239,240437,A. Semprini,20,Italy,62,72,Brescia,€425K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13240,209462,R. Bingham,24,England,62,66,Hamilton Academical FC,€400K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13241,219702,K. Dankowski,21,Poland,62,72,Śląsk Wrocław,€425K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13242,225590,I. Colman,23,Argentina,62,70,Club Atlético Aldosivi,€450K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13243,233782,M. Feeney,19,England,62,78,Everton,€600K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13244,239158,R. Minor,30,Denmark,62,62,Hobro IK,€230K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13245,242998,Klauss,21,Brazil,62,69,HJK Helsinki,€425K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13246,244022,I. Sissoko,22,France,62,68,AS Béziers,€425K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13247,189238,F. Hart,28,Austria,62,62,SV Mattersburg,€240K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13248,211511,L. McCullough,24,Northern Ireland,62,69,Tranmere Rovers,€375K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13249,224055,Li Yunqiu,27,China PR,62,62,Shanghai Greenland Shenhua FC,€250K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13250,244535,F. Garcia,29,Paraguay,62,62,Itagüí Leones FC,€300K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13251,134968,R. Haemhouts,34,Belgium,62,62,NAC Breda,€150K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13252,225336,E. Binaku,22,Albania,62,70,Malmö FF,€375K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13253,171320,G. Miller,31,Scotland,62,62,Carlisle United,€200K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13254,246328,A. Aidonis,17,Germany,62,82,VfB Stuttgart,€550K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13255,196921,L. Sowah,25,Germany,62,65,Hamilton Academical FC,€325K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13256,202809,R. Deacon,26,England,62,62,Dundee FC,€325K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13257,226617,Jang Hyun Soo,25,Korea Republic,62,65,Suwon Samsung Bluewings,€375K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13258,230713,A. Al Malki,23,Saudi Arabia,62,67,Al Wehda,€350K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13259,234809,E. Guerrero,27,Chile,62,65,CD Palestino,€300K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13260,246073,Hernáiz,20,Spain,62,69,Albacete BP,€425K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13261,221498,H. Al Mansour,25,Saudi Arabia,62,64,Al Nassr,€300K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13262,244026,H. Paul,24,Germany,62,66,TSV 1860 München,€325K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13263,244538,S. Bauer,25,Austria,62,66,FC Admira Wacker Mödling,€325K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13264,201019,M. Chergui,29,France,62,62,Grenoble Foot 38,€300K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13265,221499,D. Gardner,28,England,62,62,Oldham Athletic,€300K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13266,237371,L. Bengtsson,20,Sweden,62,73,Hammarby IF,€525K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13267,242491,F. Jaramillo,22,Colombia,62,70,Itagüí Leones FC,€450K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13268,153148,L. Garguła,37,Poland,62,62,Miedź Legnica,€100K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13269,244540,S. Rivera,26,Colombia,62,64,Jaguares de Córdoba,€375K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13270,245564,Vinicius,19,Brazil,62,77,Bologna,€525K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13271,213821,F. Sepúlveda,26,Chile,62,63,CD Antofagasta,€290K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13272,240701,L. Spence,22,Scotland,62,70,Dundee FC,€450K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13273,242237,B. Lepistu,25,Estonia,62,67,Kristiansund BK,€400K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13274,244029,A. Abruscia,27,Italy,62,62,TSV 1860 München,€325K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13275,244541,E. González,23,Venezuela,62,70,Boyacá Chicó FC,€375K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13276,211006,M. Al Amri,26,Saudi Arabia,62,63,Al Raed,€290K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13277,215102,J. Rebolledo,26,Chile,62,62,Deportes Iquique,€325K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13278,246078,C. Mamengi,17,Netherlands,62,79,FC Utrecht,€550K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13279,239679,P. Mazzocchi,22,Italy,62,69,Perugia,€350K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13280,244543,Y. Ammour,19,France,62,77,Montpellier HSC,€650K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13281,212800,Jwa Joon Hyeop,27,Korea Republic,62,62,Gyeongnam FC,€300K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13282,231232,O. Marrufo,25,Mexico,62,65,Tiburones Rojos de Veracruz,€375K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13283,232256,Han Pengfei,25,China PR,62,66,Guizhou Hengfeng FC,€325K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
data[data['Position'].isnull()]

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Preferred Foot,Position,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
5018,153160,R. Raldes,37,Bolivia,70,70,NaN,€0,Right,NaN,...,77.0,64.0,79.0,70.0,70.0,16.0,8.0,11.0,12.0,13.0
6736,175393,J. Arce,33,Bolivia,68,68,NaN,€0,Left,NaN,...,69.0,67.0,12.0,34.0,33.0,16.0,13.0,15.0,16.0,8.0
7922,195905,L. Gutiérrez,33,Bolivia,67,67,NaN,€0,Right,NaN,...,42.0,54.0,72.0,71.0,64.0,11.0,7.0,8.0,12.0,12.0
9905,226044,R. Vargas,23,Bolivia,66,69,NaN,€0,Right,NaN,...,67.0,64.0,19.0,24.0,23.0,13.0,11.0,11.0,7.0,9.0
10628,216751,D. Bejarano,26,Bolivia,65,66,NaN,€0,Right,NaN,...,39.0,57.0,68.0,69.0,68.0,14.0,12.0,11.0,14.0,12.0
13236,177971,J. McNulty,33,Scotland,62,62,Rochdale,€120K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13237,195380,J. Barrera,29,Nicaragua,62,62,Boyacá Chicó FC,€300K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13238,139317,J. Stead,35,England,62,62,Notts County,€140K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13239,240437,A. Semprini,20,Italy,62,72,Brescia,€425K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13240,209462,R. Bingham,24,England,62,66,Hamilton Academical FC,€400K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13241,219702,K. Dankowski,21,Poland,62,72,Śląsk Wrocław,€425K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13242,225590,I. Colman,23,Argentina,62,70,Club Atlético Aldosivi,€450K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13243,233782,M. Feeney,19,England,62,78,Everton,€600K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13244,239158,R. Minor,30,Denmark,62,62,Hobro IK,€230K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13245,242998,Klauss,21,Brazil,62,69,HJK Helsinki,€425K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13246,244022,I. Sissoko,22,France,62,68,AS Béziers,€425K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13247,189238,F. Hart,28,Austria,62,62,SV Mattersburg,€240K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13248,211511,L. McCullough,24,Northern Ireland,62,69,Tranmere Rovers,€375K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13249,224055,Li Yunqiu,27,China PR,62,62,Shanghai Greenland Shenhua FC,€250K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13250,244535,F. Garcia,29,Paraguay,62,62,Itagüí Leones FC,€300K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13251,134968,R. Haemhouts,34,Belgium,62,62,NAC Breda,€150K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13252,225336,E. Binaku,22,Albania,62,70,Malmö FF,€375K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13253,171320,G. Miller,31,Scotland,62,62,Carlisle United,€200K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13254,246328,A. Aidonis,17,Germany,62,82,VfB Stuttgart,€550K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13255,196921,L. Sowah,25,Germany,62,65,Hamilton Academical FC,€325K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13256,202809,R. Deacon,26,England,62,62,Dundee FC,€325K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13257,226617,Jang Hyun Soo,25,Korea Republic,62,65,Suwon Samsung Bluewings,€375K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13258,230713,A. Al Malki,23,Saudi Arabia,62,67,Al Wehda,€350K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13259,234809,E. Guerrero,27,Chile,62,65,CD Palestino,€300K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13260,246073,Hernáiz,20,Spain,62,69,Albacete BP,€425K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13261,221498,H. Al Mansour,25,Saudi Arabia,62,64,Al Nassr,€300K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13262,244026,H. Paul,24,Germany,62,66,TSV 1860 München,€325K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13263,244538,S. Bauer,25,Austria,62,66,FC Admira Wacker Mödling,€325K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13264,201019,M. Chergui,29,France,62,62,Grenoble Foot 38,€300K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13265,221499,D. Gardner,28,England,62,62,Oldham Athletic,€300K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13266,237371,L. Bengtsson,20,Sweden,62,73,Hammarby IF,€525K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13267,242491,F. Jaramillo,22,Colombia,62,70,Itagüí Leones FC,€450K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13268,153148,L. Garguła,37,Poland,62,62,Miedź Legnica,€100K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13269,244540,S. Rivera,26,Colombia,62,64,Jaguares de Córdoba,€375K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13270,245564,Vinicius,19,Brazil,62,77,Bologna,€525K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13271,213821,F. Sepúlveda,26,Chile,62,63,CD Antofagasta,€290K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13272,240701,L. Spence,22,Scotland,62,70,Dundee FC,€450K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13273,242237,B. Lepistu,25,Estonia,62,67,Kristiansund BK,€400K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13274,244029,A. Abruscia,27,Italy,62,62,TSV 1860 München,€325K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13275,244541,E. González,23,Venezuela,62,70,Boyacá Chicó FC,€375K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13276,211006,M. Al Amri,26,Saudi Arabia,62,63,Al Raed,€290K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13277,215102,J. Rebolledo,26,Chile,62,62,Deportes Iquique,€325K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13278,246078,C. Mamengi,17,Netherlands,62,79,FC Utrecht,€550K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13279,239679,P. Mazzocchi,22,Italy,62,69,Perugia,€350K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13280,244543,Y. Ammour,19,France,62,77,Montpellier HSC,€650K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13281,212800,Jwa Joon Hyeop,27,Korea Republic,62,62,Gyeongnam FC,€300K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13282,231232,O. Marrufo,25,Mexico,62,65,Tiburones Rojos de Veracruz,€375K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13283,232256,Han Pengfei,25,China PR,62,66,Guizhou Hengfeng FC,€325K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16450,193911,S. Paul,31,India,57,57,NaN,€0,Right,NaN,...,16.0,52.0,12.0,15.0,12.0,53.0,48.0,62.0,57.0,60.0
16539,245167,L. Lalruatthara,23,India,57,63,NaN,€0,Left,NaN,...,38.0,57.0,60.0,61.0,57.0,15.0,12.0,11.0,6.0,12.0
16793,228192,E. Lyngdoh,31,India,56,56,NaN,€0,Right,NaN,...,59.0,63.0,43.0,48.0,32.0,7.0,8.0,9.0,15.0,9.0
17129,228198,J. Singh,26,India,55,58,NaN,€0,Right,NaN,...,65.0,42.0,26.0,18.0,13.0,15.0,14.0,8.0,10.0,16.0
17339,233526,S. Passi,23,India,54,63,NaN,€0,Right,NaN,...,58.0,45.0,14.0,23.0,21.0,8.0,6.0,13.0,9.0,10.0
17436,236452,D. Lalhlimpuia,20,India,54,67,NaN,€0,Right,NaN,...,55.0,46.0,26.0,17.0,13.0,7.0,8.0,12.0,11.0,11.0
17539,234508,C. Singh,21,India,53,62,NaN,€0,Right,NaN,...,38.0,41.0,56.0,49.0,53.0,12.0,9.0,6.0,14.0,8.0

In [19]:
# Removing incomplete tuples

data.dropna(axis=0, how='any', inplace=True)

In [20]:
# Converting Positions

forward = ['RF', 'LF', 'ST', 'RS', 'LS', 'CF', 'LW', 'RW']
mid = ['RCM', 'LCM', 'LDM', 'CAM', 'CDM', 'RM', 'LAM', 'LM', 'RDM', 'CM', 'RAM']
defender = ['RCB', 'CB', 'LCB', 'LB', 'RB', 'RWB', 'LWB']

data['Position'].replace(['RF', 'LF', 'ST', 'RS', 'LS', 'CF', 'LW', 'RW'], 'Forward', inplace=True)
data['Position'].replace(['RCM', 'LCM', 'LDM', 'CAM', 'CDM', 'RM', 'LAM', 'LM', 'RDM', 'CM', 'RAM'], 'MidFielder', inplace=True)
data['Position'].replace(['RCB', 'CB', 'LCB', 'LB', 'RB', 'RWB', 'LWB'], 'Defender', inplace=True)

In [21]:
data.isnull().sum()

ID                 0
Name               0
Age                0
Nationality        0
Overall            0
Potential          0
Club               0
Value              0
Preferred Foot     0
Position           0
Height             0
Weight             0
Crossing           0
Finishing          0
HeadingAccuracy    0
ShortPassing       0
Volleys            0
Dribbling          0
Curve              0
FKAccuracy         0
LongPassing        0
BallControl        0
Acceleration       0
SprintSpeed        0
Agility            0
Reactions          0
Balance            0
ShotPower          0
Jumping            0
Stamina            0
Strength           0
LongShots          0
Aggression         0
Interceptions      0
Positioning        0
Vision             0
Penalties          0
Composure          0
Marking            0
StandingTackle     0
SlidingTackle      0
GKDiving           0
GKHandling         0
GKKicking          0
GKPositioning      0
GKReflexes         0
dtype: int64

In [22]:
heightConv = [30.48, 2.54]
data['Height'] = data['Height'].apply(lambda x: round(pd.Series(map(int, x.split('\''))).dot(heightConv), 1))

weightConv = [0.454]
data['Weight'] = data['Weight'].str.strip('lbs').astype(float)
data['Weight'] = data['Weight'].apply(lambda x: round(pd.Series(x).dot(weightConv), 1))

In [23]:
data['Value'] = data['Value'].str.strip('€')

for i in range(data.shape[0]):
    temp = str(data['Value'].iloc[i])
    if temp[-1] == 'K':
        temp = temp[:-1]
    elif temp[-1] == 'M':
        temp = temp[:-1]
        temp = float(temp) * 1000
    data['Value'].iloc[i] = temp
data['Value'] = data['Value'].astype(float)

C:\Users\Amaan Mansuri\AppData\Local\Temp\ipykernel_20512\104816331.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Value'].iloc[i] = temp

In [24]:
# data.to_csv('dataDraft1.csv', index=False)

In [1]:
import pandas as pd

data = pd.read_csv('dataDraft1.csv', index_col=0)
data

,Name,Age,Nationality,Overall,Potential,Club,Value,Preferred Foot,Position,Height,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
ID,,,,,,,,,,,,,,,,,,,,,
158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,Left,Forward,170.2,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,Right,Forward,188.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,Right,Forward,175.3,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
193080,De Gea,27,Spain,91,93,Manchester United,72000.0,Right,GK,193.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,Right,MidFielder,180.3,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238813,J. Lundstram,19,England,47,65,Crewe Alexandra,60.0,Right,MidFielder,175.3,...,43.0,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0
243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,60.0,Right,Forward,190.5,...,43.0,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0
241638,B. Worman,16,England,47,67,Cambridge United,60.0,Right,Forward,172.7,...,55.0,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0
246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,Right,Forward,177.8,...,50.0,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0
246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,Right,MidFielder,177.8,...,33.0,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0

In [2]:
# data.to_csv('data_Draft1.csv')

In [40]:
from matplotlib import pyplot as plt
value = data['Value']
pot = data['Overall']
age = data['Age']

plt.subplot(221)
plt.scatter(value, pot)
plt.title('Value vs Potential')
plt.show()

plt.subplot(222)
plt.scatter(age, pot)
plt.title('Age vs Potential')
plt.show()

In [35]:
import pylab
import scipy.stats as stats

stats.probplot(age, dist="norm", plot=pylab)
pylab.show()

In [36]:
data['Age'].plot.box()
plt.show()

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17918 entries, 158023 to 246269
Data columns (total 45 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             17918 non-null  object
 1   Age              17918 non-null  int64
 2   Nationality      17918 non-null  object
 3   Overall          17918 non-null  int64
 4   Potential        17918 non-null  int64
 5   Club             17918 non-null  object
 6   Value            17918 non-null  float64
 7   Preferred Foot   17918 non-null  object
 8   Position         17918 non-null  object
 9   Height           17918 non-null  float64
 10  Weight           17918 non-null  float64
 11  Crossing         17918 non-null  float64
 12  Finishing        17918 non-null  float64
 13  HeadingAccuracy  17918 non-null  float64
 14  ShortPassing     17918 non-null  float64
 15  Volleys          17918 non-null  float64
 16  Dribbling        17918 non-null  float64
 17  Curve            17918 non-null  float64
 18  FKAccuracy       17918 non-null  float64
 19  LongPassing      17918 non-null  float64
 20  BallControl      17918 non-null  float64
 21  Acceleration     17918 non-null  float64
 22  SprintSpeed      17918 non-null  float64
 23  Agility          17918 non-null  float64
 24  Reactions        17918 non-null  float64
 25  Balance          17918 non-null  float64
 26  ShotPower        17918 non-null  float64
 27  Jumping          17918 non-null  float64
 28  Stamina          17918 non-null  float64
 29  Strength         17918 non-null  float64
 30  LongShots        17918 non-null  float64
 31  Aggression       17918 non-null  float64
 32  Interceptions    17918 non-null  float64
 33  Positioning      17918 non-null  float64
 34  Vision           17918 non-null  float64
 35  Penalties        17918 non-null  float64
 36  Composure        17918 non-null  float64
 37  Marking          17918 non-null  float64
 38  StandingTackle   17918 non-null  float64
 39  SlidingTackle    17918 non-null  float64
 40  GKDiving         17918 non-null  float64
 41  GKHandling       17918 non-null  float64
 42  GKKicking        17918 non-null  float64
 43  GKPositioning    17918 non-null  float64
 44  GKReflexes       17918 non-null  float64
dtypes: float64(37), int64(3), object(5)
memory usage: 6.8+ MB

In [3]:
temp = data.where(data['Name'] == 'J. Akinde')
temp.dropna(axis=0)

,Name,Age,Nationality,Overall,Potential,Club,Value,Preferred Foot,Position,Height,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
ID,,,,,,,,,,,,,,,,,,,,,
186112,J. Akinde,28.0,England,65.0,65.0,Lincoln City,550.0,Right,Forward,188.0,...,70.0,58.0,37.0,33.0,31.0,12.0,15.0,6.0,14.0,16.0